.encabezado{
    background-color: #040304;
    text-align: center;
    color: #FFFFFF;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}

.display{
    display: flex;
    background-color: #040304;
    color:#FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    justify-content:space-between;
    text-align: center;
    margin-top: 20px;
}

.display div {
    margin: 10px;
}

.formulario{
    margin-top: 20px;
    background-color: #040304;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;

}